@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  display: block;
  font-family: "Roboto";
}

.container {
  min-height: 100vh;
  overflow: hidden;
  background-color: azure h1;
  background-color-max-width: 100%;
}
.container header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(22, 148, 233);
  box-shadow: 1px 1px 20px black;
}
.container header .nav {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
}
.container header a {
  justify-content: center;
  align-items: center;
  font-size: 10px;
  padding-left: 5px;
  padding-right: 5px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
}
.container header a:hover {
  color: #c9c6c6;
}
.container .slider {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.container .slides {
  width: 500%;
  height: 350px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.container .slides #radio1:checked ~ .first {
  width: 31.2%;
}
.container .slides #radio2:checked ~ .first {
  margin-left: -20%;
}
.container .slides #radio3:checked ~ .first {
  margin-left: -55%;
}
.container .slides #radio4:checked ~ .first {
  margin-left: -105%;
}
.container .slides #radio5:checked ~ .first {
  margin-left: -155%;
}
.container .slides #radio6:checked ~ .first {
  margin-left: -205%;
}
.container .slides input {
  display: none;
}
.container .slide {
  margin-top: 130px;
  width: 25%;
  position: relative;
}
.container .img-slide {
  width: 310px;
}
.container .manual-navigation {
  position: absolute;
  width: 300px;
  margin-top: 150px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}
.container .manual-btn {
  height: 1px;
  width: 15px;
  border: 1px solid #746c6c;
  border-radius: 5px;
  cursor: pointer;
  transition: 1s;
}
.container .manual-btn:not(:last-child) {
  margin-right: 40px;
}
.container .manual-btn:hover {
  background-color: #fff;
}
.container .navigation-auto {
  position: absolute;
  width: 800px;
  margin-top: 360px;
  display: flex;
  justify-content: center;
}
.container .section1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 90px 0px;
  height: 100vh;
  width: 100%;
  background-color: rgba(193, 195, 196, 0.548);
}
.container .section1 #quadro1 {
  position: relative;
  flex-direction: column;
  display: flex;
  width: 1100px;
  height: 600px;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 1px 20px black;
  background: rgb(255, 255, 255);
}
.container .section1 #quadro1 .titulo-profissional {
  margin-top: 40px;
  position: static;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .section1 #quadro1 .titulo-profissional h3 {
  display: flex;
  margin-top: 30px;
  letter-spacing: -1px;
  font-size: 18px;
  font-weight: 150;
  font-style: italic;
  color: rgb(0, 0, 0);
}
.container .section1 #quadro1 .competencias {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .section1 #quadro1 .competencias .experiencia {
  width: 360px;
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  text-align: justify;
}
.container .section1 #quadro1 .competencias .experiencia .texto-experiencia {
  margin: 0;
}
.container .section1 #quadro1 .competencias .experiencia .titulo-experiencia {
  margin: 10px 0px;
}
.container .section1 #quadro1 .competencias .habilidades {
  top: -10px;
  text-align: center;
  width: 200px;
  margin-right: 80px;
}
.container .section1 #quadro1 .competencias .habilidades .titulo-habilidades {
  margin: 10px 0px;
  text-align: left;
}
.container .section1 #quadro1 .competencias .habilidades ul {
  padding: 0px 0px 0px 20px;
  text-align: left;
}
.container .section1 #quadro1 .competencias .habilidades ul li {
  width: 150px;
  margin-right: 0;
  padding-bottom: 5px;
}
.container .section1 #quadro1 .profile-photo {
  width: 90px;
  height: 90px;
  border-radius: 30%;
  border: 1px solid #fff;
  box-shadow: 1px 1px 20px black;
  background-color: rgba(240, 225, 225, 0.897);
}
.container .section2 {
  padding: 90px 0px;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  flex-wrap: wrap;
}
.container .section2 .trabalho,
.container .section2 .trabalho1,
.container .section2 .trabalho2,
.container .section2 .trabalho3,
.container .section2 .trabalho4,
.container .section2 .trabalho5 {
  margin: 50px 10px;
  width: 350px;
  height: 500px;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 1px 20px black;
  background: rgba(229, 233, 240, 0.733);
  display: flex;
  flex-direction: column;
}
.container .section2 .trabalho h4,
.container .section2 .trabalho1 h4,
.container .section2 .trabalho2 h4,
.container .section2 .trabalho3 h4,
.container .section2 .trabalho4 h4,
.container .section2 .trabalho5 h4 {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
.container .section2 .trabalho .bloco-img,
.container .section2 .trabalho1 .bloco-img,
.container .section2 .trabalho2 .bloco-img,
.container .section2 .trabalho3 .bloco-img,
.container .section2 .trabalho4 .bloco-img,
.container .section2 .trabalho5 .bloco-img {
  display: flex;
  justify-content: space-around;
}
.container .section2 .trabalho .bloco-img .componenteDeClasificacao,
.container .section2 .trabalho1 .bloco-img .componenteDeClasificacao,
.container .section2 .trabalho2 .bloco-img .componenteDeClasificacao,
.container .section2 .trabalho3 .bloco-img .componenteDeClasificacao,
.container .section2 .trabalho4 .bloco-img .componenteDeClasificacao,
.container .section2 .trabalho5 .bloco-img .componenteDeClasificacao {
  width: 60%;
  border-radius: 5px;
}
.container .section2 .trabalho .bloco-img .pagina-de-links,
.container .section2 .trabalho1 .bloco-img .pagina-de-links,
.container .section2 .trabalho2 .bloco-img .pagina-de-links,
.container .section2 .trabalho3 .bloco-img .pagina-de-links,
.container .section2 .trabalho4 .bloco-img .pagina-de-links,
.container .section2 .trabalho5 .bloco-img .pagina-de-links {
  width: 55%;
  border-radius: 5px;
}
.container .section2 .trabalho .bloco-img .contador,
.container .section2 .trabalho1 .bloco-img .contador,
.container .section2 .trabalho2 .bloco-img .contador,
.container .section2 .trabalho3 .bloco-img .contador,
.container .section2 .trabalho4 .bloco-img .contador,
.container .section2 .trabalho5 .bloco-img .contador {
  width: 80%;
  height: 110%;
  border-radius: 5px;
}
.container .section2 .trabalho .bloco-img .conversor-de-moedas,
.container .section2 .trabalho1 .bloco-img .conversor-de-moedas,
.container .section2 .trabalho2 .bloco-img .conversor-de-moedas,
.container .section2 .trabalho3 .bloco-img .conversor-de-moedas,
.container .section2 .trabalho4 .bloco-img .conversor-de-moedas,
.container .section2 .trabalho5 .bloco-img .conversor-de-moedas {
  width: 50%;
  border-radius: 5px;
}
.container .section2 .trabalho .bloco-img .tela-de-cadastros,
.container .section2 .trabalho1 .bloco-img .tela-de-cadastros,
.container .section2 .trabalho2 .bloco-img .tela-de-cadastros,
.container .section2 .trabalho3 .bloco-img .tela-de-cadastros,
.container .section2 .trabalho4 .bloco-img .tela-de-cadastros,
.container .section2 .trabalho5 .bloco-img .tela-de-cadastros {
  width: 80%;
  border-radius: 5px;
}
.container .section2 .trabalho .bloco-img .lista-de-tarefas,
.container .section2 .trabalho1 .bloco-img .lista-de-tarefas,
.container .section2 .trabalho2 .bloco-img .lista-de-tarefas,
.container .section2 .trabalho3 .bloco-img .lista-de-tarefas,
.container .section2 .trabalho4 .bloco-img .lista-de-tarefas,
.container .section2 .trabalho5 .bloco-img .lista-de-tarefas {
  width: 70%;
  border-radius: 5px;
}
.container .section2 .trabalho .paragrafo-texto,
.container .section2 .trabalho1 .paragrafo-texto,
.container .section2 .trabalho2 .paragrafo-texto,
.container .section2 .trabalho3 .paragrafo-texto,
.container .section2 .trabalho4 .paragrafo-texto,
.container .section2 .trabalho5 .paragrafo-texto {
  width: 300px;
  padding: 25px;
  display: flex;
  text-align: justify;
  font-size: 15px;
  letter-spacing: -0.7px;
  color: #746c6c;
}
.container .section2 .trabalho .botao,
.container .section2 .trabalho1 .botao,
.container .section2 .trabalho2 .botao,
.container .section2 .trabalho3 .botao,
.container .section2 .trabalho4 .botao,
.container .section2 .trabalho5 .botao {
  cursor: pointer;
  border-radius: 3px;
  border: 0.5px solid;
  padding: 5px;
  color: #524e4e;
}
.container .section2 .trabalho .botao:hover,
.container .section2 .trabalho1 .botao:hover,
.container .section2 .trabalho2 .botao:hover,
.container .section2 .trabalho3 .botao:hover,
.container .section2 .trabalho4 .botao:hover,
.container .section2 .trabalho5 .botao:hover {
  font-weight: bold;
  box-shadow: 1px 1px 5px black;
  background-color: rgba(229, 233, 240, 0.733);
}
.container .section2 .trabalho a,
.container .section2 .trabalho1 a,
.container .section2 .trabalho2 a,
.container .section2 .trabalho3 a,
.container .section2 .trabalho4 a,
.container .section2 .trabalho5 a {
  margin-top: auto;
  align-self: center;
  margin-bottom: 30px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 13px;
  padding: 3px;
  color: #fff;
  background-color: rgba(43, 42, 42, 0.877);
  box-shadow: 1px 1px 20px black;
}

@media (min-width: 340px) and (max-width: 374px) {
  .container .img-slide {
    width: 280px;
  }
  .container .section1 {
    height: 900px;
  }
  .container .section1 #quadro1 {
    height: 850px;
  }
  .container .section1 #quadro1 .competencias .experiencia .texto-experiencia {
    width: 100px;
  }
  .container .section1 #quadro1 .competencias .habilidades {
    margin-right: 78px;
  }
  .competencias {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 375px) {
  .container .img-slide {
    width: 280px;
  }
  .container .section1 {
    height: 900px;
    padding: 0px;
  }
  .container .section2 {
    height: 900px;
    padding: 0px;
  }
  .container .section1 #quadro1 {
    height: 850px;
  }
  .container .section1 #quadro1 .competencias .experiencia .texto-experiencia {
    width: 280px;
  }
  .container .section1 #quadro1 .competencias .experiencia {
    margin-left: 83px;
  }
  .container .section1 #quadro1 .competencias .habilidades {
    margin-right: 78px;
  }
  .competencias {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 390px) and (max-width: 393px) {
  .container .img-slide {
    width: 280px;
  }
  .container .section1 {
    height: 900px;
  }
  .container .section1 #quadro1 {
    height: 850px;
  }
  .container .section1 #quadro1 .competencias .experiencia .texto-experiencia {
    width: 280px;
  }
  .container .section1 #quadro1 .competencias .habilidades {
    margin-right: 78px;
  }
  .competencias {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 412px) and (max-width: 414px) {
  .container .img-slide {
    width: 280px;
  }
  .container .section1 {
    height: 900px;
  }
  .container .section1 #quadro1 {
    height: 850px;
  }
  .competencias {
    display: flex;
    flex-direction: column;
  }
  .container .section1 #quadro1 .competencias .experiencia .texto-experiencia {
    width: 280px;
  }
}
@media (min-width: 540px) and (max-width: 819px) {
  .container .img-slide {
    width: 280px;
  }
  .container .img-slide {
    width: 280px;
  }
  .container .section1 {
    height: 800px;
  }
  .container .section1 #quadro1 {
    height: 850px;
  }
  .container .section1 #quadro1 .competencias .experiencia .texto-experiencia {
    width: 350px;
  }
  .container .section1 #quadro1 .competencias .experiencia {
    margin-left: 16px;
  }
}
@media (min-width: 768px) and (max-width: 819px) {
  .container .img-slide {
    width: 280px;
  }
  .container .section1 {
    height: 800px;
  }
  .container .section1 #quadro1 {
    height: 850px;
  }
  .competencias {
    display: flex;
  }
  .container .section1 #quadro1 .competencias .experiencia .texto-experiencia {
    width: 350px;
  }
  .container .section1 #quadro1 .competencias .experiencia {
    margin-left: 140px;
  }
}
@media (min-width: 820px) and (max-width: 1334px) {
  .container .img-slide {
    width: 280px;
  }
  .container .section1 {
    height: 800px;
  }
  .container .section1 #quadro1 {
    height: 850px;
  }
  .competencias {
    display: flex;
  }
  .container .section1 #quadro1 .competencias .experiencia .texto-experiencia {
    width: 350px;
  }
  .container .section1 #quadro1 .competencias .experiencia {
    margin-left: 140px;
  }
}/*# sourceMappingURL=style.css.map */